<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Profile</title>
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap" rel="stylesheet">
    <!-custom style for home-->
    <link rel="stylesheet" href="css/home.css">
     <!-- font-awesome -->
      <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
</head>
<body>
   <div class="search-container">
        <div class="searchs">
            <input id="zip-code-input" type="text" placeholder="Enter Batch NO" />
            <i class="fas fa-search" arial-hidden="true"></i>
        </div>
    </div>
    <div class="search">
      <div class="search-list">
       <button class=but>Batch #id</button>
        <!-- <div class="batch-container">
           <div class="batch-name">
               Batch
           </div>
           <div class="batch-year">
               2017
           </div>
         </div>
          <div class="batch-container">
           <div class="batch-name">
               Batch
           </div>
           <div class="batch-year">
               2017
           </div>
         </div>-->
     </div>
    </div>
</body>
</html>
