<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Profile</title>
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap" rel="stylesheet">
    <!--custom style for home-->
    <link rel="stylesheet" href="css/home.css">
     <!-- font-awesome -->
      <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
</head>
<body>
   <div class="search-container">
        <div class="searchs">
            <input id="zip-code-input" type="text" placeholder="Enter Batch NO" />
            <i class="fas fa-search" arial-hidden="true"></i>
        </div>
    </div>
    <div class="search">
      <div class="search-list">
        <button onclick="myFunction1()" class="but1"><span>Batch #id</span></button>
        <div id="myDIV1">
          Batch #id
          </div>
        <button onclick="myFunction2()" class="but2"><span>Batch #id</span></button>
        <div id="myDIV2">
          Batch #id
          </div>
        <button onclick="myFunction3()" class="but3"><span>Batch #id</span></button>
        <div id="myDIV3">
          Batch #id
          </div>
        <button onclick="myFunction4()" class="but4"><span>Batch #id</span></button>
        <div id="myDIV4">
          Batch #id
          </div>
        <button onclick="myFunction5()" class="but5"><span>Batch #id</span></button>
        <div id="myDIV5">
          Batch #id
          </div>
        <button onclick="myFunction6()" class="but6"><span>Batch #id</span></button>
        <div id="myDIV6">
          Batch #id
          </div>
     </div>
    </div>
    <script>
        function myFunction1() {
          var x = document.getElementById("myDIV1");
          var y=document.getElementById("");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function myFunction2() {
          var x = document.getElementById("myDIV2");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function myFunction3() {
          var x = document.getElementById("myDIV3");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function myFunction4() {
          var x = document.getElementById("myDIV4");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function myFunction5() {
          var x = document.getElementById("myDIV5");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function myFunction6() {
          var x = document.getElementById("myDIV6");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
    </script>
    
</body>
</html>

